body {
	margin: 20px auto
}

fieldset {
	margin: 0 auto;
	width: 400px
}

legend {
	text-align: center
}

form {
	margin: 0 auto;
	width: 500px
}

label {
	display: inline-block;
	width: 150px;
	color: purple;
	text-align: right
}

input {
	border-radius: 3px;
	border: 1px solid green;
	height: 23px;
	width: 200px;
	margin-bottom: 5px;
	box-sizing: border-box;
}

input:focus {
	outline: none;
	border: 1px dotted green
}

input[type="submit"] {
	background: green;
	height: 30px;
	color: white;
	margin-left: 155px
}

input[type="submit"]:hover {
	opacity: 0.8;
	cursor: pointer
}