h2 {
	text-align : center;
	margin-bottom : 10px;
}

table {
	border : 1px solid black;
	margin : 0 auto;
	width : 700px;
}

form {
	text-align : center;
}

input {
	display : inline-block;
	text-align : center;
}

tr, td, th {
	border : 1px solid black;
	text-align : center;
}

#book1:focus, #book2:focus, #book3:focus {
	border : 5px solid red;
}

td:first-child {
	background : yellow;
}

tr:last-child {
	background : green;
}

tr:last-child td:first-child {
	background : white;
}

